@{
    ViewData["Title"] = "Registration";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="error">
    <h2>@ViewBag.Error</h2>
</div>

<p>Войдите в аккаунт или <a href="">Зарегистрируйтесь</a></p>

<div></div>