@{
    ViewData["Title"] = "AskQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="AskQuestion">

    <div style="margin: 80px auto; width: 500px;">
        <textarea name="content" id="editor"></textarea>
    </div>

</div>