@model QuestionSee.DB.User
@{
    ViewData["Title"] = "RegistrationPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Страница регистрации</h2>

<div style="margin:0 auto; width:1000px;">
    <form id="Registrationform" action="/Account/Create" method="post">
        <div id="errorview"></div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Имя</label>
                <input name="Name" type="text" class="form-control" placeholder="Имя">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Фамилия</label>
                <input name="SecondName" type="text" class="form-control" placeholder="Фамилия">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Никнейм</label>
                <input name="Nickname" type="text" class="form-control" placeholder="Никнейм">
            </div>
            <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Email адрес</label>
                <input name="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Пароль</label>
                <input name="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Подтвердите свой пароль</label>
                <input name="PasswordCnf" type="password" class="form-control" id="exampleInputPassword1" placeholder="PasswordCnf">
            </div>
        </div>
        <div id="picture" class="form-group">
            <label a class="control-label">ProfilePicture</label>
            <input name="ProfilePicture" type="file" class="form-control" />
        </div>
        <div style="text-align:center;">
            <button type="button" class="btn btn-primary" onclick="errorcheck();">Зарегистрироваться</button>
        </div>
    </form>
</div>
<script>
    function errorcheck() {
        $.post("/Account/Create", $("#Registrationform").serialize(), function (data) {
            $("#errorview").html(data);
        });
    }
</script>