/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

}


.QuestionField {
    width: 1400px;
    height: 700px;
    background-color:aquamarine;

    margin: 0px auto;

    position:relative;
}

.QuestionFieldBar{
    width: auto;
    height: 50px;
    background-color:aqua;
}
.RegistrationBlock {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 500;

}

.RegistrationFields {
    margin: 120px auto 0;
    background-color: antiquewhite;
    border-radius: 10px;
    width: 30%;
    position: relative;
    padding: 30px;
}

.Questions {

    top: 51px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: black;
    overflow: hidden;
}
.QuestionCard{
    width: 350px;
    height: 600px;
    float:left;
}
.Question {
    background-color: coral;
    height: 100%;
    margin: 0 5px 0 5px;
}

.close {
    position:absolute;
    right: 5px;
    top: 3px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

    .close:hover {
        opacity: 1;
    }

    .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }

    .close:before {
        transform: rotate(45deg);
    }

    .close:after {
        transform: rotate(-45deg);
    }