/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

}


.QuestionField {
    width: 1400px;
    height: 700px;
    background-color:aquamarine;

    margin: 0px auto;

    position:relative;
}

.QuestionFieldBar{
    width: auto;
    height: 50px;
    background-color:aqua;
}
.BlackBackgroudBlock {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 500;
}

.RegistrationFields {
    margin: 120px auto 0;
    background-color: antiquewhite;
    border-radius: 10px;
    width: 30%;
    position: relative;
    padding: 30px;
}



.Questions {
    top: 51px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: black;
    overflow: hidden;
}
.QuestionCard {
    width: 350px;
    height: 600px;
    float: left;
    margin-top: 10px;
}


.FullquestionCard {
    overflow: scroll;
    height:489px;
}

.QuestionReputation {
    border: 1px solid black;
    width:inherit;
    height:20px;
}
.LikeDislike {
    width: inherit;
    height: 20px;
    margin: 10px;
}


.AnswerComment {
    margin: 0 auto 0;
    background-color: antiquewhite;
    border-radius: 10px;
    width: 30%;
    position: absolute;
    padding: 30px;
    left: 20%;
    right: 20%;
    bottom: 137px;
}

.CloseCard {
    position: absolute;
    right: -1px;
    top: -1px;
}
.Central {
    margin: 0 auto 0;
    background-color: antiquewhite;
    border-radius: 10px;
    width: 30%;
    position: absolute;
    padding: 30px;
    left: 20%;
    right: 20%;
    bottom: 287px;
    top: 120px;
}

.AnswersFlow{
    width: 100%;
    height:auto;

}

.AnswerBlock{
    width: 100%;
    height: auto;
}

.AnswerBlock.winer {
    border:1px solid green;
    border-radius:20px;
    overflow:hidden;
    padding:20px;
}

.Question {
    background-color: coral;
    height: 100%;
    margin: 0 5px 0 5px;
}
.MainAccView{
    width: 1000px;
    height:800px;
    margin:65px auto;
    border-color:black;
    border: 1px solid;
}
.LittleInfo {
    width: 160px;
    height: 450px;
    float: left;
}
.ProfilePic {
    width: 160px;
    height: 160px;
    left: 0px;
    top: 0px;
    position: relative;
    border: 1px solid;
    
}
.StatAccView {
    position: relative;

    width:100%;
    height:350px;
    border: 1px solid;
}

.AccInfo {
    float: right;
    width: 820px;
}

.QuestionFlow{
    width: 1100px;
    margin: 81px auto;
    position:relative;
}

.Allusers {
    width: 1100px;
    margin: 81px auto;
    position: relative;
}

.AllQuestions {
    margin: 0 auto;
    width: 1400px;
}


.Forward {
    top: 325px;
    left: 1272px;
    width: 128px;
    height: 128px;
    background-image: url('../images/sliderforward.png');
    z-index: 20;
    position: absolute;
    opacity: 0.5;
}
.Forward:hover {
    opacity: 1;

    }

.QuestionSearch {
    width: 700px; 
    height: 80px;
    border: 1px solid;
    margin: 1px auto;
}

.Back {
    top: 325px;
    left: 0px;
    width: 128px;
    height: 128px;
    background-image: url('../images/sliderback.png');
    z-index: 20;
    position: absolute;
    opacity: 0.5
}

.Back:hover {
        opacity: 1;
    }

.close {
    position:absolute;
    right: 5px;
    top: 3px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

    .close:hover {
        opacity: 1;
    }

    .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }

    .close:before {
        transform: rotate(45deg);
    }

    .close:after {
        transform: rotate(-45deg);
    }



.modal-backdrop.fade.in {
   z-index: -1;
}


