@model IEnumerable<QuestionSee.DB.Question>
<div class="QuestionField">





    <div class="QuestionFieldBar"></div>

    <div class="Questions">
        <div class="Forward" onclick="SliderForward()"></div>
        <div class="Back" onclick="SliderBack()"></div>

        @foreach (var element in Model)
        {
            <div class="QuestionCard">
                <div class="Question">
                    <h1>@element.Header</h1>
                    <div>@Html.Raw(element.Description)</div>
                    <form method="post" action="/">
                        <input type="hidden" name="FullQuestionInfo" value="@element.Id" />
                        <input type="hidden" name="AnswersComments" value="@element.Id" />
                        <input type="submit" value="Посмотреть" /><Br>
                    </form>
                </div>
            </div>
        }





    </div>

</div>